Repository Dabrytskaya/ToDoList, pull requests merged in 2021-08, with the labels that each got.

#1 Dabrytskaya planning
  planning/README.md
  planning/constraints.md
Labels: planning

#4 Backlog
  planning/README.md
  planning/backlog.md
Labels: planning

#7 Backlog_v2
  planning/backlog.md
Labels: planning

#13 Add wireframe via upload
  wireframe.svg
  wireframe.svg.excalidraw
Labels: documentation

#10 Css base
  client/styles/other-file.css
  index.html
Labels: html, css

#14 Final changes
  client/src/init/index.js
  client/styles/other-file.css
  index.html
  package-lock.json
  package.json
Labels: html, css, JS
